<div class="row">
    <div class="col-lg-12">
        <div class="text-right">
            <button class="btn btn-primary btn-sm waves-light" type="button" (click)="openAgendaModal()" mdbRippleRadius>
                Add Agenda
            </button>
        </div>
        <ul class="list-group mb-1">
            <li class="list-group-item">
                Cras justo odio
                <button class="btn btn-primary btn-sm waves-light" type="button" (click)="test.toggle()" mdbRippleRadius>
                    Toggle collapse
                </button>
                <div class="" [mdbCollapse]="isCollapsed" #test="bs-collapse">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                Cras justo odio
                <button class="btn btn-primary btn-sm waves-light" type="button" (click)="test.toggle()" mdbRippleRadius>
                    Toggle collapse
                </button>
                <div class="" [mdbCollapse]="isCollapsed" #test="bs-collapse">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                        anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
            </li>
        </ul>

    </div>
</div>
