<div class="row">
    <ngx-loading [show]="loading" [config]=""></ngx-loading>
    <div class="col-lg-12">
        <div class="text-right">
            <h6>
                <strong>Today</strong>
                <small class="text-muted">{{today | date: 'mediumDate' }}</small>
            </h6>
        </div>
        <blockquote *ngIf="tasks.length < 1" class="blockquote mt-5 text-center">
            <p class="mb-0">No tasks for today. Enjoy your day!</p>
        </blockquote>
        <ul *ngFor="let task of tasks; let i = index" class="list-group mb-1">
            <li class="list-group-item pb-0">
                <i class="fa fa-check-square-o"></i> {{task.Title}}
                <i class="fa fa-angle-down f-20 float-right pointer-cursor" (click)="toggleTask(task)"></i>
                <i [hidden]="task.state != 'active'" mdbTooltip="Edit checklist" placement="top" (click)="openChecklistModal(task)" class="fa pointer-cursor fa-pencil float-right purple-text"></i>
                <i [hidden]="task.state != 'active'" mdbTooltip="Remove checklist" placement="top" (click)="removeTask(task)" class="fa pointer-cursor fa-remove float-right red-text"></i>
                <div [@animateHeight]="task.state">
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-2 ml-3">
                                <div *ngFor="let item of task.Items" class="form-group">
                                    <input (change)="toggleItem(item, task, i)" [(ngModel)]="item.IsChecked" type="checkbox" class="filled-in" id="checkbox{{item.Id}}">
                                    <label for="checkbox{{item.Id}}">{{item.Todo}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>