.container-block {
    background-color: white;
    border-radius: 5px;
}

.main-height {
    height: 530px;
}

.position-relative {
    position: relative;
}

.br-1 {
    border-right: 1px solid #d0cfcf;
}

.overflow-auto {
    overflow: auto;
}

.pointer-cursor {
    cursor: pointer;
}
