<!--Intro Section-->
<section class="view intro-2 hm-gradient">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row flex-center pt-5 mt-3">
                <div class="col-md-6 text-center text-md-left margins">
                    <div>
                        <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Explore the world of agendas </h1>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                        <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Helpout allows the opportunity for its community to push you 
                                the advice and motivation you need before you have to search for a solution.</h6>
                        <br>
                        <a mdbRippleRadius (click)="openRegisterModal()" class="btn btn-outline-black waves-light wow fadeInLeft" data-wow-delay="0.3s">GET STARTED IT'S FREE</a>

                    </div>
                </div>

                <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container container-block mt-5">

    <!--Section: Best Features-->
    <section id="best-features" class="text-center pt-2">

        <!-- Heading -->
        <h2 class="mb-4 font-weight-bold">Best Features</h2>

        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-8">

                <!-- Description -->
                <p class="grey-text">Helpout is the only application you will need to organize and increase your productivity. Synchronized with the 
                    mobile app you have your organization available all the time.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 mb-5">
                <i class="fa fa-file-text-o fa-4x orange-text"></i>
                <h4 class="my-4 font-weight-bold">Experience</h4>
                <p class="grey-text">Easily find the advice you need for your tasks or activities by people that already experienced it and are 
                    willing to help.</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <i class="fa fa-calendar fa-4x orange-text"></i>
                <h4 class="my-4 font-weight-bold">Organization</h4>
                <p class="grey-text">Organize your every day tasks in a easy and non-frustrating way. Increase your productivity and achieve more every day.</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <i class="fa fa-bicycle fa-4x orange-text"></i>
                <h4 class="my-4 font-weight-bold">Adventure</h4>
                <p class="grey-text">Experience the excitment and happiness while helping others by sharing your personal experiences to get people do more and get things done fast, easy and reliably.</p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Best Features-->

</div>

<app-register #registerModal></app-register>