<div class="row position-relative h-100">
  <div class="col-lg-4 br-1">

    <div class="list-group">
      <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" routerLink="/admin/planner/today" class="list-group-item list-group-item-action">
        <i class="fa fa-clock-o"></i> Today
      </a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" routerLink="/admin/planner/week" class="list-group-item list-group-item-action"><i class="fa fa-calendar"></i> Next Week</a>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" routerLink="/admin/planner/active" class="list-group-item list-group-item-action"><i class="fa fa-calendar-check-o"></i> Unscheduled</a>
    </div>
  </div>
  <div class="col-lg-8">
    <router-outlet></router-outlet>
  </div>
</div>