<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar dark-purple">
           
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" routerLink="/welcome">Helpout</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline waves-light" mdbRippleRadius>
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/main" class="nav-link waves-light" *ngIf="currentUser" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/admin" class="nav-link waves-light" *ngIf="currentUser" mdbRippleRadius>My profile<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" *ngIf="currentUser" (click)="logout()" mdbRippleRadius>Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" *ngIf="!currentUser" (click)="openLoginModal()" mdbRippleRadius>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" *ngIf="!currentUser"  (click)="openRegisterModal()" mdbRippleRadius>Sign up</a>
                </li>
            </ul>
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<app-login #loginModal></app-login>
<app-register #registerModal></app-register>